/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/* Main styles */


body {
    text-align: center;
}
/* ===================
    Header Navigation 
=======================*/

header nav {
    margin-top: 2.25rem; 
    margin-bottom: 10.25rem;
}

nav a {
    padding: 1rem;
    border-radius: 10px;
    margin: 0 6.25rem;
}

a {
    text-decoration: none;
    font-family: 'Roboto Mono', monospace;
    color: white;
}

/*===================== 
Header section styles
=======================*/
h1 {
    font-family: 'Chelsea Market', cursive;
    font-size: 40px;
    width: 30%;
    margin: 3.125rem 0 -6.25rem 47.813rem;
}

.container{
    display: flex;
    justify-content: center;
}

.header-section p{
    font-family: 'Roboto Mono', monospace;
    line-height: 1.5em;
    width: 30%;
    align-self: center;
    margin: 0 0 0 80px;
}

.header-section img {
    width: 20%;
    border-radius: 50%;
    /*margin-right: 62.125rem;*/
}
 
/* =======================
    Main paragraph styles
===========================*/
.main-text {
    font-family: 'Roboto Mono', monospace;
    line-height: 1.5em;
    color: white;
    background-color: #DDB9A3;
    margin: 80px auto;
    padding: 3.125rem;
    width: 50%;
}

p{
    font-family: 'Roboto Mono', monospace;
}

.section1 img {
    width: 9rem;
    margin-top: 4.5rem;
}

.section1 p {
    width: 20rem;
    margin: 0 auto;
}

.section2 p {
    width: 20rem;
    margin: 0 auto;
}

.section2 img {
    width: 9rem;
    margin-top: 4.5rem;
}

footer {
    background-color: #F9E7DC;
    margin-top: 6.75rem;
    height: 25rem;
}

footer img {
    width: 100%;
    height: 18.625rem;
    background-position-y: top;
}

footer nav {
    margin-top: 2.75rem;
    margin-bottom: 2.375rem;
}