/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}



/* Main styles */
body {
    text-align: center;
}

/* ===================
    Header Navigation 
=======================*/
header nav {
    margin: 2.25rem 0;
}

button {
    font-family: 'Roboto Mono', monospace;
    padding: 1rem;
    border-radius: 0.625rem;
    margin: 0 4.75rem;
    text-decoration: none;
    color: white;
    border: none;
}

button:hover {
    color: black;
}

/* ==========================
    Header Section Styles
============================= */
h1 {
    font-size: 2.5em;
    font-family: 'Chelsea Market', cursive;
    align-self: center;
    margin: -937.5% 10% 0 40%;
}

.header-section p {
    font-family: 'Roboto Mono', monospace;
    line-height: 1.5em;
    width: 30%;
    margin-left: 50%;
}

.container{
    display: flex;
    flex-direction: column;
    margin: 2.25rem 0 10.25rem 0;
}

.container img{
    align-self: flex-start;
    width: 15%;
    height: auto;
    border-radius: 100%;
    margin: 5% 0 0 20%;
}

/* ==================================
    Main body styling
=====================================*/
.main-text {
    font-family: 'Roboto Mono', monospace;
    line-height: 1.5em;
    color: white;
    background-color: #DDB9A3;
    margin: 0 5% 0 5%;
    padding: 2rem;
}

.section1 img {
    width: 9rem;
    margin: 4.5rem 0 0.625rem 0;
}
.section1,
.section2 p {
    width: 20rem;
    margin: 0.625rem auto;
    font-family: 'Roboto Mono', monospace;
}

.section2 img {
    width: 9rem;
    margin-top: 4.5rem;
}

/*==============================
    Footer Styles
================================*/
footer {
    background-color: #F9E7DC;
    margin: 6.75rem 0 6.75rem 0;
    height: auto;
    padding: 0 0 1.125em 0;
}

footer img {
    width: 100%;
    height: 12rem;
    margin-bottom: 1.125em;
}

/*footer nav button{
    margin-top: 2.75rem;
    margin-bottom: 2.375rem;
}*/

/*=============================
    Media Queries
===============================*/

@media only screen and (max-width: 600px) {

    h1 {
        margin: 1rem auto;
        font-size: 2.5em;
    }

    .nav-container {
        display: flex;
        margin: 0 0 3.125em 0;
    }

    header nav {
        flex-direction: column;
    }

    .nav-container button {
        margin: 10px;
        width: 95%
    }

    .header-section img,
    footer nav {
        display: none;
    }

    .header-section p {
        margin: 3.125rem auto;
        width: 90%;
    }

    .main-text {
        margin-top: -5rem;
    }

    footer {
        margin: 6.75rem 0 0 0;
    }

}

@media only screen and (min-width: 600px) {
    .nav-container {
        display: flex;
        margin: 0 0 50px 0;
    }

    header nav {
        flex-direction: column;
    }

    .nav-container button {
        margin: 10px;
        width: 90%
    }

    .container img {
        max-width: 30%;
        margin: 0 auto;
    }

    .container {
        flex-direction: column;
    }

    h1 {
        margin: 4% auto;
    }

    .header-section p {
        margin: 4% auto;
        width: 90%;
    }

    .main-text {
        margin-top: -5rem;
    }

    footer nav {
        display: none;
    }

    footer {
        margin: 6.75rem 0 0 0;
    }
}

@media only screen and (min-width: 768px) {

    .nav-container {
        display: flex;
        justify-content: center;
    }

    header nav {
        flex-direction: row;
    }

    .nav-container button {
        margin: 20px 10px;
    }

    .header-section p {
        margin: 4% auto;
        width: 50%;
    }

    footer {
        margin: 6.75rem 0 0 0;
    }
}

@media only screen and (min-width: 992px) {

    .header-section p {
        margin: 4% auto;
        width: 50%;
        font-size: 20px;
    }

    .nav-container button {
        margin: 30px 20px;
        width: 115px
        padding: 5px;
    }

    footer {
        margin: 6.75rem 0 0 0;
    }
}

@media only screen and (min-width: 1200px) {
    
    .nav-container button {
        margin: 1.75rem 4.75rem;
        width: 115px;
        padding: 10px;
    }

    .container {
        display: flex;
        flex-direction: column;
        margin: 2.25rem 0 10.25rem 0;
    }

    .container img {
        max-width: 15%;
        align-self: flex-start;
        height: auto;
        margin: 5% 0 0 20%;
    }

    .header-section p {
        width: 40%;
        margin-left: 45%;
        font-size: 18px;
    }

    h1 {
        align-self: center;
        margin: -150px 10% 0 40%;
    }

    footer nav {
        display: contents;
    }
}






